/* Desktop */
@media (max-width:1024px){

}

/* Tablet */
@media (max-width:768px){
    main{
        .partido-resumen {
            display: block;
        }
    
        .cards-calendario {
            width: 100%;
            margin-left: 0;
        }
    
        .parrafo-partido {
            margin-right: 1rem;
            margin-left: 1rem;
        }
    }
}

@media (max-width: 660px) {
    main{
    .jugadores {
        height: 8rem;
        width: 6.67rem;
    }

    .grids-noticia {
        display: grid;
        justify-items:center;
        width: 90%;
        height: 50%;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-template-areas: 
        "titulo"
        "imagen"
        "parrafo";
    }

    h2.titulo-noticia {
        text-align: center;
    }
    
    img.imagen-noticias {
        grid-area: imagen;
        height: 7rem;
        width: 90%;
        margin-left: 1rem;
    }

    p.parrafos-noticias {
        width: 90%;
        font-family: 'Poppins', sans-serif;
        font-size: 0.6rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    }
    }

/* Phone */
@media (max-width: 500px) {
    .principio-pagina {
        height: 20rem;
        font-size: 1.5rem;
    }

    .noticia-principal {
        font-size: 1rem;
    }

    .ver-mas {
        font-size: .75rem;
    }

    .principio-pagina-titulo {
        margin-left: 1rem;
    }

    .grids-jugador-destacado {
        grid-template-columns: 1fr;
        gap: 0.3125rem;
    }
    }


    