$background-color: darkblue;
$text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
$colorFondoCards: #1E56A0;
$colorTextoCards: white;
$tamanioCards: 27rem;
$tamanioImagen: 17rem;
$tamanioTitulo: 14rem;
$bordeRedondeado: 10%;
$colorBorde: #afafaf;
$tamanioCardsPartidos: 20rem;
$tamanioImagenEscudo: 8rem;
$marginCardsPartidos: 1rem;
$gapSize: 0.625rem;
$columnasGrid: 3;
$alturaGrid: 50%;
$tamanioCardsTienda: 25rem;
$tamanioImagenCardsTienda: 17rem;
$marginLeftCardsTienda: 3.125rem;
$marginBottomCardsTienda: 4rem;
$marginBottomDescripcionTienda: 3rem;
$marginTopDescripcionTienda: 0rem;
$tituloAltura: 4.125rem;
$imagenAltura: 15rem;
$imagenAnchura: 20rem;
$marginParrafo: 1rem;
$parrafoMargin: 1rem;
$historialMargin: .375rem;
$cardsCalendarioAltura: 15rem;
$cardsCalendarioAnchura: 20rem;
$cardsPartidosAltura: 20rem;
$cardsPartidosAnchura: 30rem;
$imagenEscudoAltura: 8rem;
$imagenEscudoAnchura: 8rem;
$jugadoresCardAnchura: 100%;
$jugadoresCardMargin: 1.25rem;
$jugadoresImagenAltura: 12rem;
$jugadoresImagenAnchura: 10rem;
$banderaAnchura: 1.875rem;
$imagenEscudoAltura: 8rem;
$imagenEscudoAnchura: 8rem;
$espaciadoProductos: 1.25rem;
$tamañoMaximoContainer: 600px;
$marginContainer: 30px;
$paddingContainer: 20px;
$colorFondoContainer: #fff;
$borderContainer: 1px solid #ccc;
$radioBordesContainer: 5px;
$textoCentrado: center;
$colorBoton: #1E56A0;
$colorBotonHover: #45a049;